{% load static %}
<header>
  <nav class="navbar navbar-light" style="background-color: lightskyblue">
    <div class="container">
      <a class="navbar-brand" href='{% url 'posts:index' %}'>
        <img src='{% static 'img/log.png' %}' width="30" height="30" class="d-inline-block align-top" alt="">
        <span style="color:red">Ya</span>Tube
      </a>
      {# Добавлено в спринте #}

      {% comment %}
      Меню - список пунктов со стандартными классами Bootsrap.
      Класс nav-pills нужен для выделения активных пунктов 
      {% endcomment %}
      <ul class="nav nav-pills">
        {% with request.resolver_match.view_name as view_name %}
        <li class="nav-item"> 
          <a class="nav-link {% if view_name  == 'about:author' %}active{% endif %}" href='{% url 'about:author' %}'>Об авторе</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if view_name  == 'about:tech' %}active{% endif %}" href='{% url 'about:tech' %}'>Технологии</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item"> 
          <a class="nav-link {% if view_name  == 'posts:post_create' %}active{% endif %}" href='{% url 'posts:post_create' %}'>Новая запись</a>
        </li>
        {%endif%}
        {% if not user.is_authenticated %}
        <li class="nav-item"> 
          <a class="nav-link link-light {% if view_name  == 'users:login' %}active{% endif %}" href='{% url 'users:login' %}'>Войти</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link link-light {% if view_name  == 'users:signup' %}active{% endif %}" href='{% url 'users:signup' %}'>Регистрация</a>
        </li>
        {% else %}
        <div class="dropdown text-end">
          <a href="#" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{%if user.image%} {{user.image.url}} {%else%}{% static 'img/monkey.png' %}{%endif%}" alt="mdo" 
            {% if view_name  == 'posts:index' or view_name == 'posts:profile' or view_name == 'posts:group_list' or view_name == 'posts:follow_index'  %}
            width="40" height="40"
            {%else%}
            width="40" height="40"
            {% endif %} 
            class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-big dropdown-menu-dark mt-2" aria-labelledby="dropdownUser1" style="">
            <li><h3 class="dropdown-header">{{user.username}}</h3></li>
            <li><a class="dropdown-item" href="{% url 'posts:profile' request.user %}">Профиль</a></li>
            <li><a class="dropdown-item" href="{% url 'users:password_change' %}">Изменить пароль</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'users:logout' %}">Выйти</a>
              </li>
          </ul>
        </div>
        {% endif %}
        {% endwith %} 
      </ul>
      {# Конец добавленого в спринте #}
    </div>
  </nav>      
</header> 